PORT = 5050 #Your Port 
MONGOURI =mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.5.0
MODE = DEV # DEV = devlopment or PROD = production
JWT_SECRET = "jdiafhoaifdhoislknsfnlkfbhojsdfijoeipweopkfek;jsdm;kvm;cvkjvjpisdv" # Your Secret
JWT_COOKIE_EXPIRES_IN = 7 #In Days
EMAIL_USER=pujansarkar37@gmail.com
EMAIL_PASS=ruageffvkdjuopnv #owner's 16 digit email_app_password
OWNER_EMAIL=pujansarkar37@gmail.com
