.contact-section{
  position: relative;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 6rem 2rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.contact-card{
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 900px;
  width: 100%;
  z-index: 1;
}

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 50%;
  background-color: #186c2c;
  transform: skewY(-5deg);
  transform-origin: top left;
  z-index: 0;
}

.contact-image img {
  max-width: 420px;
  width: 120%;
}

.contact-form{
  flex: 1;
  text-align: left;
}

.contact-form h2{
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-form p{
  font-size: 16px;
  margin-bottom: 30px;
}

.contact-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-form input{
  padding: 12px 20px;
  /* border: none; */
  border-radius: 20px;
  width: 300px;
  background-color: white;
  color: #000000;
}

.contact-form textarea{
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  width: 300px;
  background-color: white;
  color: #000000;
}

.contact-form button{
  padding: 12px 30px;
  border: none;
  border-radius: 20px;
  background-color: #186c2c;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover{
  background-color: #218838;
}

.input-field{
    position: relative;
}

.input-field input,
.input-field textarea {
  /* position: relative; */
  height: auto;
  border: 1px solid black;
}

.input-label{
    position: absolute;
    left: 20px;
    top: -15px;
    background-color: white;
}

.input-label-error{
    color: red;
}

.input-label-success{
    color: rgb(22, 167, 22);
}

.error-message {
  display: block;
  left: 0px;
  bottom: 0px;
  color: red;
  font-size: 15px;
  text-align: left;
}

.input-error input,
.input-error textarea {
    border: 0px;
    outline : 2px solid red;
    /* background-color: #ffffff; Optional: white background on error */
}

.input-success input,
.input-success textarea {
    border: 0px transparent;
    outline : 2px solid rgb(22, 167, 22);
  /* background-color: #f0f0f0; */
}
